* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --content-primary: #FFFFFF;
    --content-secondary: #C7C9CC;
    --content-tertiary: #D9D9D9;
    --content-brand: #C58DE7;
    --color-inverse: #030203;

    --background-primary: #020202;
    --background-secondary: #111012;
    --background-tertiary: #24222E;
    --background-brand: #C58DE7;
    --background-gray: #3D3D3D;

    --accent-pink: #D586E0;
    --accent-blue: #91A1FA;
    --accent-green: #77C0AF;
    --accent-lime: #D1DC97;
    --accent-red: #E9A9B3;

    --gradient-border: #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%;
    --gradient-background: #D586E0 0%, #91A1FA 98.93%;
    --gradient-content: #C7C9CC 0%, #3D3D3D 100%;

    --font-family: 'Sora', sans-serif;
    --text-large: 700 4.5rem/1.3 var(--font-family);
    --text-medium: 700 2.5rem/1.3 var(--font-family);
    --text-small: 600 2rem/1.3 var(--font-family);

    --font-family-mono: 'Roboto Mono', monospace;
    --text-overline: 600 1rem/1.5 var(--font-family-mono);

    --font-family-flex: 'Roboto Flex', sans-serif;
    --text-paragraph-large: 500 1rem/1.5 var(--font-family-flex);
    --text-paragraph-medium: 500 .875rem/1.5 var(--font-family-flex);
    --text-paragraph-small: 500 .750rem/1.5 var(--font-family-flex);
    --text-label-medium: 600 1.25rem/1.5 var(--font-family-flex);
    --text-label-small: 600 1rem/1.5 var(--font-family-flex);

}

body {
    background-color: var(--background-primary);
    position: relative;
    overflow-x: hidden;
    justify-content: center;

    & #bg-shape {
        position: absolute;
        z-index: -2;
        background: linear-gradient(-180deg, rgba(0, 0, 0, 0.9) 22.66%, rgba(0, 0, 0, 0.54) 100%), url(../assets/background.png);
        height: 100%;
        left: -50%;
        bottom: 0;
        width: 200%;
    }
}

h1 {
    font: var(--text-large);
    color: var(--content-primary);
    text-transform: uppercase;
}

h2 {
    font: var(--text-paragraph-medium);
    color: var(--content-brand);
}

p {
    font: var(--text-paragraph-small);
    color: var(--content-secondary);
}

.grid {
    display: grid;
}