main {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;


    & section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 68.7rem;

        & .left-content {
            width: 34rem;

            & .text-header {
                text-transform: uppercase;
                margin-bottom: .125rem;
                letter-spacing: .125rem;
            }

            & h1 {
                margin-bottom: 2.4rem;
            }

            & .cards {
                display: flex;
                flex-direction: column;

                & .card {
                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    width: 24rem;
                    margin-bottom: 2.25rem;

                    & img {
                        margin-bottom: 1.7rem;
                    }
                }
            }

        }

        & .right-content {
            width: 34rem;
            display: flex;
            flex-direction: column;
            padding-left: 6.75rem;


            & h3 {
                margin-top: 2rem;
                font: var(--text-label-medium);
                color: var(--content-primary);
                text-transform: uppercase;
            }

            & .right-description {
                font: var(--text-paragraph-large);
                color: var(--content-secondary);
                margin-bottom: 2.5rem;
            }
        }

        & .form-container {
            display: flex;
            gap: .750rem;
            margin-bottom: 1.2rem;
            color: white;
            font: 600 1rem 'Roboto', sans-serif;
            padding-top: 1rem;
            border-radius: 8px;

            & .form-row {
                display: flex;
                flex-direction: column;
                align-items: center;

                label {
                    margin-bottom: 0.5rem;
                    text-transform: uppercase;
                    font: var(--text-label-small)
                }

                input[type="number"] {
                    all: unset;

                    width: 5.2rem;
                    height: 3.5rem;

                    padding: 0.2rem;
                    border-radius: .5rem;
                    text-align: center;

                    background-color: var(--background-secondary);
                    color: #FFFFFF;
                    font: var(--text-small);

                    border: 0;

                    &:hover {
                        border: 2px solid linear-gradient(90deg, #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
                        box-shadow: none;
                    }
                }

            }
        }

        .checkbox-container {
            display: flex;
            align-items: center;

            margin-bottom: 2.5rem;
            color: #ffffff;
            font: 500 .750rem var(--font-family);

            border-radius: .5rem;

            input[type="checkbox"] {
                all: unset;

                &::before {
                    content: url('../assets/icons/state=default.svg');
                    margin-right: 0.5rem;
                }
            }


        }

        .sortear-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 3.5rem;
            font: var(--text-label-small);
            background-color: var(--background-tertiary);
            color: #FFFFFF;
            border: none;
            border-radius: .5rem;
            text-transform: uppercase;
            cursor: pointer;
            position: relative;

            &::after {
                content: url('../assets/icons/seta.svg');
                margin-left: 0.5rem;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: inherit;
                border: 2px solid transparent;
            }

            &:hover::before {
                background: linear-gradient(90deg, #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: destination-out;
                mask-composite: exclude;
            }
        }
    }
}


@media (max-width: 48em) {
    main {
        padding: 2rem;
        overflow-y: scroll;
        overflow-x: hidden;

        & header {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            & .logo {
                margin: 3rem 0;
            }
        }

        & section {
            flex-direction: column;
            width: 100%;
            padding: 0 1rem;

            & h1 {
                font: var(--text-medium)
            }

            & .cards {
                & .card {
                    padding-right: 3rem;
                    width: 100%;
                }
            }

            & .left-content,
            & .right-content {
                width: 100%;
                padding-left: 0;

            }


        }
    }
}