.resultado-container {
    width: 34rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 6.75rem;

    & h3 {
        margin-top: 2rem;
        font: var(--text-label-medium);
        color: var(--content-primary);
        text-transform: uppercase;
        letter-spacing: .125rem;

    }

    & #numero-sorteio {
        font: var(--text-overline);
        color: var(--content-secondary);
        text-transform: uppercase;
        margin-bottom: 2.5rem;

    }

    & .numeros {
        font-size: 2rem;
        font-weight: bold;
        margin: 1.5rem 0;
        animation: fadeIn 0.8s ease-in-out;

    }

    & .sorteado {
        color: var(--content-brand);
        padding: .625rem 1rem;
        margin: .3rem;
        border-radius: .5rem;
        font: 3rem var(--font-family-mono);
        display: inline-block;
        margin-bottom: 2.5rem;
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}